@media screen and (max-width: 720px) {
    body {
        background-image: url(../res/background_m.png);
    }

    h1 {
        font-size: 48px;
    }

    .lead {
        font-size: 24px;
        top: 64px;
    }

    .box {
        width: 350px;
        height: 400px;
    }

    .box h2 {
        font-size: 32px;
        margin: -20px 0 16px;
    }

    .box .inputBox input {
        font-size: 16px;
        height: 16px;
    }

    .box input[type="submit"] {
        padding: 5px 30px;
        font-size: 20px;
    }

    .box input[type="checkbox"] {
        transform: scale(1.5);
    }

    .box span {
        font-size: 16px;
        top: -2px;
    }

    .reg {
        margin-left: 55%;
        bottom: 0px;
    }

    .inputText {
        font-size: 32px;
    }

    #under {
        height: 48px;
    }

    span.gh {
        font-size: 0px;
    }

    span.vk {
        font-size: 0px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    a {
        top: 10px;
    }

    .container {
        margin: 50px auto 60px;
        width: 300px;
    }

    h3 {
        font-size: 14px;
    }

    li > label {
        font-size: 14px;
        width: 150px;
    }

    ul li.editMode input[type="text"] {
        display: block;
        width: 130px;
        height: 12px;
        font-size: 16px;
    }

    .material-icons {
        font-size: 16px;
    }

    input#new-task {
        width: 215px;
        height: 16px;
    }

    .data {
        font-size: 22px;
        bottom: -22px;
    }

    #done {
        margin-bottom: -32px;
    }

    #loadImg {
        top: 88%;
        left: 52%;
    }

    #notification {
        left: 36%;
        top: 93%;
        transform: scale(1.3);
    }

    #message {
        font-size: 20px;
    }
}